@font-face {
    font-family: title-font;
    src: url(bahagia.ttf);
}

#maintitle {
    margin-top: 0.5%;
    text-align: center;
    font-family: "title-font";
    font-size: 80px;
}

#login {
    text-align: center;
    display: none;
}

#register {
    text-align: center;
    display: none;
}

.cotitle {
    font-family: Constantia;
}

.photoprofil {
    float: left;
    width: 150px;
    height: 120px;
    display: none;
}

.deco {
    float: right;
    display: none;
}

.navbar {
    width: 100%;
    display: none;
}

a {
    margin-right: 4%;
    margin-left: 4%;
    font-size: 20px;
    color: white;
}

.footer {
    text-align: center;
    display: none;
}

.titlesong {
    text-align: center;
    margin-top: -2%;
}

.favplay {
    margin-right: 3%;
}

.like {
    margin-right: 0.5%;
}

#accueil {
    height: 58vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.imgacc {
    width: 25%;
    margin-left: 25%;
    margin-right: 25%;
}

.titleartist {
    text-align: center;
}

.imgfoot {
    width: 100px;
    height: 100px;
}

td {
    text-align: center;
}

.audionone {
    display: none;
}

button {
    border: none;
    background-color: white;
}
