@font-face {
    font-family: title-font;
    src: url(bahagia.ttf);
}

#maintitle {
    text-align: center;
    font-family: "title-font";
    font-size: 80px;
    color: crimson;
}

#login {
    text-align: center;
    display: none;
}

#register {
    text-align: center;
    display: none;
}

.cotitle {
    font-family: Constantia;
}

.photoprofil {
    float: left;
    width: 150px;
    height: 120px;
    display: none;
}

.deco {
    float: right;
    display: none;
}

.navbar {
    width: 100%;
    display: none;
}

a {
    margin-right: 4%;
    margin-left: 4%;
    font-size: 20px;
    color: white;
}

.theme {
    margin-right: 0;
}

.footer {
    text-align: center;
    display: none;
}

.titlesong {
    text-align: center;
    margin-top: -2%;
}

.favplay {
    margin-right: 3%;
}

.like {
    margin-right: 0.5%;
}

#contain {
    height: 65vh;
}

.imgacc {
    width: 50%;
}